.contact-menu-list-item-link {
  text-decoration: none;
  color: inherit;

  .contact-menu-list-item {
    padding: 20px;
    border-top: 1px solid #f0f0f0;

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0;
    }

    &:first-child {
      border-top: none;
    }
  }
}
