.icon-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: gray;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &.disabled {
    background-color: lightgray;
    cursor: not-allowed;

    svg {
      fill: lightgray;
    }
  }
}
